
.link {
    position: relative;
    border: none;
}

.link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 6px;
    bottom: -7px;
    left: 0;
    background-color: #805AD5;
    transform-origin: center;
    transition: transform 0.5s ease-out;
}
.link:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

a:hover {
    text-decoration: 'none';
}

.link-icon:hover {
    filter: invert(74%) sepia(23%) saturate(748%) hue-rotate(213deg) brightness(103%) contrast(96%);
}

.card h2 {
    color: 'white';
    transition: color 0.3s ease-in-out;
}

.card:hover h2 {
    color: #B794F4;
}